/* Class names prefixes */
$prefix: 'gjs-' !default;
/* Netlify color */
$colorNetlify: #00ad9f;

:root {
    --border-color: rgba(0, 0, 0, 0.15);
    --background-color: #3c4a49;

    --background-box-title: #263332;
}

.#{$prefix}mdl-dialog.#{$prefix}mdl-dialog-ntl {
    max-width: 1300px;
    margin-top: 45px;
}

.app {
    margin: 20px;
    margin-top: 30px;
    animation: fadein .3s;

    a {
        text-decoration: none;
        color: $colorNetlify;
    }

    h1 {
        margin-bottom: 30px;
    }

    button {
        cursor: pointer;
        background-color: #424242;
        font-family: inherit;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        border: 1px solid #e9ebeb;
        border-bottom-color: #e1e3e3;
        border-radius: 4px;
        background-color: #fff;
        color: rgba(14, 30, 37, .87);
        box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .12);
        transition: all .2s ease;
        transition-property: background-color, color, border, box-shadow;
        outline: 0;
        font-weight: 500;
        background: $colorNetlify;
        color: #fff;
        border-color: transparent;
    }
}

#login {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    position: absolute;
    right: 30px;
    top: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: .3s;

    &:hover {
        border: 2px solid $colorNetlify;
    }
}

.title-inner {
    display: flex;
    align-items: center;

    button {
        margin-left: 20px;
    }
}

.primary-button {
    padding: 13px 18px;
}

.primary-button:hover {
    background: #00c2b2;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        height: 45px;
    }
}

.search {
    border-radius: 2px;
    font-size: 16px;
    padding: 11px 15px;
    min-width: 300px;
    display: inline-block;
    box-shadow: 0 0 0 2px rgba(120, 130, 152, .25);
    border: none;
    outline: none;
    transition: all .3s ease;
    margin: 20px 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);

    &:active,
    &:focus,
    &:hover {
        box-shadow: 0 0 0 2px $colorNetlify;
    }
}

.header {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px !important;
}

.item {
    text-align: center;
}

#site-list {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.site-wrapper,
.site-wrapper-header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-left: 20px;
    font-size: 14px;
    transition: .3s;
}

.site-wrapper.selected {
    border: 2px solid $colorNetlify;
}

.site-wrapper-header {
    padding-left: 15px;
    border-bottom: 2px solid rgba(14, 30, 37, .2);
}

.site-wrapper:hover,
.site-wrapper:nth-child(even):hover {
    background: rgba(255, 255, 255, .1);
}

.site-wrapper-header,
.site-wrapper:nth-child(even) {
    background-color: rgba(0, 0, 0, .1);
}

.site-screenshot,
.site-screenshot-header {
    height: 64px;
    margin: 0 24px 0 0;
    min-width: 102.4px;
    position: relative;
}

.site-screenshot-header {
    height: 30px;
}

.site-screenshot:before {
    background: #dadcdd;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.site-screenshot a {
    display: block;
    position: relative;
    z-index: 9;
    height: 100%;
}

.site-screenshot img {
    position: relative;
    width: 100%;
    width: 102.4px;
    border: none;
}

.site-screenshot img[alt]:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dadcdd;
    font-weight: 300;
    line-height: 2;
    text-align: center;
    content: '';
}

.site-info {
    min-width: 350px;
    max-width: 350px;

    h2 {
        margin: 0px;
        margin-bottom: 5px;
    }

    a {
        text-decoration: none;
    }
}

.site-meta a {
    font-size: 14px;
    color: rgba(165, 210, 230, 0.8);
}

.site-publish-time {
    min-width: 150px;
}

.site-create-time {
    min-width: 130px;
}

.site-team {
    min-width: 200px;
}

.site-functions {
    min-width: 100px;
}

.site-repo-link {
    display: none;
    font-size: 12px;
}

/*
 * Drawflow styles
 */

.wrapper {
    width: 100%;
    height: calc(100vh - 67px);
    display: flex;
}

.col {
    overflow: auto;
    min-width: 200px;
    height: 100%;
}

.drag-drawflow {
    line-height: 50px;
    margin: 5px 5px 5px 0px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
    transition: .2s;
    padding-left: 20px;
    cursor: move;
    user-select: none;

    &:hover {
        color: $colorNetlify;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
    }
}

.menu {
    position: absolute;
    height: 40px;
    display: block;

    ul {
        padding: 0px;
        margin-top: -5px;
        line-height: 40px;
    }

    ul li {
        display: inline-block;
        margin-left: 10px;
        padding-right: 10px;
        line-height: 40px;
        cursor: pointer;
        transition: .3s;

        &.selected {
            color: $colorNetlify;
            border-bottom: 4px solid $colorNetlify;
            font-weight: bold;
        }
    }
}

.btn-export,
.btn-clear {
    color: white;
    background: $colorNetlify;
    padding: 13px 18px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.btn-export {
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-clear {
    float: right;
    position: absolute;
    top: 10px;
    right: 100px;
}

.swal-wide {
    width: 80% !important;
}

.btn-add,
.btn-delete,
.btn-lock {
    float: right;
    position: absolute;
    bottom: 10px;
    display: flex;
    font-size: 24px;
    color: $colorNetlify;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
    z-index: 5;
    cursor: pointer;
}

.btn-add {
    left: 10px;

    input {
        background-color: rgba(0, 0, 0, 0.15);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        padding: 5px;
        color: white;

        &:focus {
            outline: none;
        }
    }

    i {
        margin-left: 5px;
    }
}

.btn-delete {
    right: 180px;
}

.btn-lock {
    right: 140px;
}

.bar-zoom {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    font-size: 24px;
    color: $colorNetlify;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
    z-index: 5;

    i {
        cursor: pointer;
        padding-left: 10px;
    }
}

#drawflow-code {
    position: relative;
    width: calc(100vw - 370px);
    height: calc(100% - 50px);
    top: 50px;
    overflow-y: auto;

    .CodeMirror-scroll {
        margin-bottom: 0;
    }

    .CodeMirror {
        height: 100%;
        min-height: 580px;
    }
}

#drawflow {
    position: relative;
    width: calc(100vw - 370px);
    height: calc(100% - 50px);
    top: 40px;
    background: rgba(30, 30, 30, 0.2);
    background-size: 10px 10px;
    background-image:
        linear-gradient(to right, #00ad9f24 1px, transparent 1px),
        linear-gradient(to bottom, #00ad9f24 1px, transparent 1px);
}

@media only screen and (max-width: 768px) {
    .col {
        width: 50px;
    }

    .col .drag-drawflow span {
        display: none;
    }

    #drawflow {
        width: calc(100vw - 51px);
    }
}

/* Editing Drawflow */

.drawflow .drawflow-node {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    -webkit-box-shadow: 0 2px 15px 2px var(--border-color);
    box-shadow: 0 2px 15px 2px var(--border-color);
    padding: 0px;
    width: 200px;

    &.selected {
        background: var(--background-color);
        border: 1px solid #4ea9ff;
        -webkit-box-shadow: 0 2px 20px 2px $colorNetlify;
        box-shadow: 0 2px 20px 2px $colorNetlify;

        /*.title-box {
            color: #22598c;
            border-bottom: 1px solid #4ea9ff;
        }*/
    }
}

.drawflow .connection .main-path {
    stroke: #4ea9ff;
    stroke-width: 3px;
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
    height: 15px;
    width: 15px;
    background: $colorNetlify;
    border: 2px solid var(--border-color);

    &:hover {
        background: #4ea9ff;
    }
}

.drawflow .drawflow-node .output {
    right: 10px;
}

.drawflow .drawflow-node .input {
    left: -10px;
    background: $colorNetlify;
}

.drawflow>.drawflow-delete {
    border: 2px solid #43b993;
    background: white;
    color: #43b993;
    -webkit-box-shadow: 0 2px 20px 2px #43b993;
    box-shadow: 0 2px 20px 2px #43b993;
}

.drawflow-delete {
    border: 2px solid #4ea9ff;
    background: white;
    color: #4ea9ff;
    -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
    box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow-node .title-box {
    height: 50px;
    line-height: 50px;
    color: #f5f5f5;
    background: var(--background-box-title);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 0px 0px;
    padding-left: 10px;
}

.drawflow .title-box svg {
    position: initial;
}

.drawflow-node .flow-box {
    padding: 10px 20px 20px 20px;
    font-size: 14px;
    color: rgb(212, 212, 212);

    a {
        color: $colorNetlify;
        text-decoration: none;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.drawflow-node.welcome {
    width: 250px;
}

.drawflow-node.slack .title-box {
    border-radius: 4px;
}

.drawflow-node input,
.drawflow-node select,
.drawflow-node textarea {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    width: 158px;
    color: white;

    &:focus {
        outline: none;
    }
}

.drawflow-node textarea {
    height: 100px;
}

.drawflow .connection .point {
    stroke: var(--border-color);
    stroke-width: 2;
    fill: white;
    transform: translate(-9999px, -9999px);
}

.drawflow .connection .point.selected,
.drawflow .connection .point:hover {
    fill: #4ea9ff;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}